@font-face {
  font-family: "raleway";
  src: url("Raleway-VariableFont_wght.ttf");
}

* {
  font-family: "raleway", Arial, Helvetica, sans-serif;
}

.populaires {
    background-color: #F2F2F2;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.carte1 {
    background-color: white;
    margin: 5px;
    display: flex;
}

.images{
    background-color: red;
}

.images img{
    display: flex;
}

.blabla {
    height: 100%;
    width: 66%;
    background-color: blue;
}

