:root {
  --grey: #f2f2f2;
}

@font-face {
  font-family: "raleway";
  src: url("Raleway-VariableFont_wght.ttf");
}

div,
body {
  margin: 0;
}

* {
  font-family: "raleway", Arial, Helvetica, sans-serif;
}

footer {
  background-color: var(--grey);
  display: flex;
  width: 100%;
  padding: 20px 10px;
}

h1 {
  font-size: medium;
}

footer > div {
  width: 30%;
}

li {
  list-style: none;
  line-height: 1.8;
  display: list-item;
  box-sizing: border-box;
}

ul {
  padding-left: 0%;
}

@media screen and (max-width: 780px) {
  footer > div {
    width: 100%;
  }
  footer {
    flex-direction: column;
  }
}

/*<span> pour remplacer les <h>??*/
