@font-face {
  font-family: "raleway";
  src: url("Raleway-VariableFont_wght.ttf");
}

* {
  font-family: "raleway", Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

section {
  display: flex;
  justify-content: space-between;
}

.hebergements {
  padding: 20px;
  width: 60%;
  border-radius: 20px;
  background-color: #F2F2F2;
}

.hebergements > h2  {
  margin-left: 61px;
}

.cartes {
  background-color: #F2F2F2;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 50px;
}

.carte {
  background-color: white;
  width: 30%;
  border-radius: 20px;
  overflow: hidden;
  margin: 10px;
  box-shadow: 10px 10px 10px 10px lightgrey;
}

.carte img {
  width: 100%;
  height: 150px;
  border-radius: 20px 20px 0 0;
}

.images {
  margin: 5px;
  display: flex;
  justify-content: center;
}

.blabla {
  padding-left: 5%;
  line-height: 10px;
}

ul {
  display: flex;
  padding-left: 0%;
}

li {
  list-style: none; 
  padding-left: 0%;
}

i {
  color: #0065fc;
}

.populaires {
  padding: 40px;
  width: 25%;
  background-color: #F2F2F2;
  border-radius: 20px;
}

.cartes1 {
  background-color: #F2F2F2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.carte1 {
  background-color: white;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
  margin: 10px;
  box-shadow: 10px 10px 10px 10px lightgrey;
  display: flex;
  align-items: baseline;
}

.carte1 img {
  width: 150px;
  height: 100%;
  border-radius: 20px 0px 0px 20px;
}

.images1 {
  width: 150px;
  margin: 5px;
  display: flex;
}

.blabla1 {
  padding-left: 5%; 
  display: flex;
}

@media screen and (max-width: 780px) {
  section {
    flex-direction: column-reverse;
  }
  .hebergements {
    width: 100%;
  }
  .populaires {
    width: 100%;
  }
}