@import "style/mixin.scss";

$dot: 3;
$anim-dur: 1400ms;
$anim-delay: calc($anim-dur / $dot);

* {
  font-family: "Roboto";
}

h1,
h4 {
  font-family: "Shrikhand";
}

body {
  margin: 0;
  width: 100%;
}

.loader-container {
  width: 100%;
  height: 100%;
  position: absolute;
  animation: fade-out 7000ms forwards;
}

.loader {
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 50%;
  text-align: center;
  bottom: 50%;
}

.background {
  opacity: 0;
}
.loader_dot {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: inline-flex;
  &--1 {
    opacity: 0;
    background-color: $primary;
    animation: loader $anim-dur 3 ease-in-out;
  }
  &--2 {
    opacity: 0;
    background-color: $secondary;
    animation: loader $anim-dur 3 ease-in-out;
  }
  &--3 {
    opacity: 0;
    background-color: $tertiary;
    animation: loader $anim-dur 3 ease-in-out;
  }
  @for $i from 1 through $dot {
    &--#{$i} {
      animation-delay: $anim-delay * $i;
    }
  }
}

.heading,
section-1,
section,
footer {
  animation: fade-in 7000ms forwards;
}

div,
p,
h1,
h3,
ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

.heading {
  padding: 10px 0 5px 0;
  box-shadow: 0px 1px 8px 2px rgb(179 179 179 / 82%);
  margin-bottom: 5px;
  position: relative;
}

.heading,
.location {
  display: flex;
  justify-content: center;
  align-items: center;
}

.location {
  gap: 20px;
  padding-right: 35px;
  background-color: #ededed;
  font-weight: bold;
  padding: 10px 0 15px;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f7f7f7;
  padding: 50px 0;
  gap: 10px;
  div {
    width: 85%;
    text-align: center;
  }
}

.explanation1 {
  font-weight: bolder;
  font-size: xx-large;
}

.btn {
  margin-top: 20px;
  @include btn;
  span {
    color: white;
  }
}

.btncontainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0px 40px 40px 40px;
}

.functionbtn {
  width: 100%;
  @include funtionbtn;
  .number {
    display: flex;
    justify-content: center;
    background-color: $primary;
    color: white;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    position: absolute;
    left: -10px;
    padding: 5px;
    p {
      display: flex;
      align-items: center;
      font-size: small;
    }
  }
  .icon {
    width: 60px;
    display: flex;
    justify-content: center;
    margin-left: 10px;
    color: grey;
  }
  span {
    flex: auto;
    font-weight: 600;
  }
}

.container {
  background-color: #f7f7f7;
  padding: 40px;
}

.card_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.card {
  width: 100%;
  @include card;
  .card_img {
    position: relative;
  }
  .card_img img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
}

.new {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: $tertiary;
  border-radius: 2px;
  color: #588378;
  padding: 5px;
  font-size: smaller;
  font-weight: bold;
  display: flex;
  width: 75px;
  justify-content: center;
}

.card_footer {
  display: flex;
  justify-content: space-between;
  height: 70px;
  .card_footer_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    padding-left: 15px;
  }
}

.card_footer_button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px 30px 10px;
  font-size: x-large;
  .fa-solid {
    background: -webkit-linear-gradient(90deg, $secondary, $primary);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    opacity: 0;
  }
  .fa-regular {
    position: relative;
  }
  &:hover {
    cursor: pointer;
    .fa-regular {
      transition: opacity 1200ms;
      opacity: 0;
    }
    .fa-solid {
      transition: opacity 600ms;
      opacity: 1;
    }
  }
}

footer {
  width: calc(100% - 20px);
  background-color: #333;
  color: white;
  padding: 10px 0px 40px 20px;

  li {
    list-style: none;
    line-height: 25px;
    a {
      color: white;
    }
  }
  .fa-utensils {
    padding-right: 10px;
  }
  .fa-handshake-angle {
    padding-right: 4px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .btncontainer {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 40px;
    flex-wrap: wrap;
    h2 {
      width: 100%;
    }
  }

  .functionbtn {
    width: calc(30% - 35px);
  }

  .card_container {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .card {
    width: calc(50% - 40px);
  }
}

@media screen and (min-width: 1024px) {
  .btncontainer {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 40px 40px;
    flex-wrap: wrap;
    h2 {
      width: 100%;
    }
  }

  .functionbtn {
    width: calc(30% - 35px);
  }

  .card_container {
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .card {
    width: calc(23% - 10px);
    .card_img img {
      height: 350px;
    }
  }
  .card_footer_text {
    justify-content: space-around !important;
  }

  footer {
    padding: 10px 0px 60px 20px;
    ul {
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
  }
}
