$primary: #9356dc;
$secondary: #ff79da;
$tertiary: #99e2d0;
$btncolor: linear-gradient(180deg, $secondary, $primary);

// MIXINS INDEX + BOUTON BICOLORE

@mixin card {
  border-radius: 20px;
  overflow: hidden;
  background-color: white;
  box-shadow: 5px 5px 5px rgb(229 229 229 / 89%);
}

@mixin btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 50px;
  width: 200px;
  background: $btncolor;
  border: none;
  border-radius: 40px;
  padding: 0 20px;
  box-shadow: 0px 5px 8px 0px rgb(179 179 179 / 86%);
  &:hover {
    box-shadow: 0px 5px 10px 0px #00000078;
    background: linear-gradient(
      180deg,
      lighten($secondary, 15%),
      lighten($primary, 15%)
    );
    cursor: pointer;
  }
}

@mixin funtionbtn {
  display: flex;
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgb(229 229 229 / 89%);
  position: relative;
  align-items: center;
  justify-content: center;
  height: 60px;
  background-color: #f7f7f7;
  padding-right: 20px;
  &:hover {
    background-color: lighten($primary, 35%);
    cursor: pointer;
    .fa-solid {
      color: $primary;
    }
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  33% {
    opacity: 1;
  }
  66% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide-down {
  from {
    transform: translateY(10px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes loader {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }
  50% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(10px);
    opacity: 0;
  }
}

// MIXIN ICONE DU PLAT

@mixin hidden {
  position: absolute;
  height: 100%;
  width: 60px;
  background-color: $tertiary;
  display: flex;
  align-items: center;
  top: 0;
  justify-content: center;
  border-radius: 0 10px 10px 0px;
}

@mixin hidden_icon {
  height: 20px;
  width: 20px;
  color: $tertiary;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
