@media screen and (max-width: 767px) {
  body {
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: #f2f2f2;
  }

  div,
  p {
    margin: 0;
  }

  .plate {
    margin-top: 100px;
    padding: 10px 20px 10px 10px;
    width: calc(95% - 30px);
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 4px;
    box-shadow: 5px 5px 5px rgb(229 229 229 / 89%);
  }

  .plate_bottom {
    display: flex;
    justify-content: space-between;
  }
}
