@import "style/mixin.scss";

body {
  animation: fade-in 5s;
}

@media screen and (max-width: 767px) {
  * {
    font-family: "Roboto";
  }

  body {
    margin: 0;
    width: 100%;
  }

  div,
  p,
  h1,
  h3,
  ul {
    margin: 0;
    padding: 0;
  }

  .heading {
    border-bottom: 1px solid black;
    padding: 20px 0 5px 0;
    position: relative;
  }

  .heading,
  .location {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .location {
    gap: 20px;
    padding-right: 35px;
    background-color: #ededed;
    font-weight: bold;
    padding: 15px 0;
  }

  h1,
  h4 {
    font-family: "Shrikhand";
  }

  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f7f7f7;
    padding: 50px 0;
    gap: 20px;
    div {
      width: 65%;
      display: flex;
      justify-content: center;
    }
    .first {
      font-weight: bolder;
    }
  }

  h2 {
    padding-left: 30px;
  }

  .btn {
    @include btn;
    span {
      color: white;
    }
  }

  .btncontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-bottom: 40px;
  }

  .functionbtn {
    @include funtionbtn;
    .number {
      display: flex;
      justify-content: center;
      background-color: $primary;
      color: white;
      border-radius: 50%;
      width: 20px;
      position: absolute;
      left: -10px;
      padding: 5px;
    }
    .icon {
      width: 80px;
      display: flex;
      justify-content: center;
      margin-left: 10px;
      color: grey;
    }
    span {
      flex: auto;
      font-weight: bold;
    }
  }

  .container {
    background-color: #f7f7f7;
    padding: 40px 0;
  }

  .card_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .card {
    @include card;
    .card_img {
      position: relative;
    }
    .card_img img {
      width: 100%;
      height: 200px;
      object-fit: cover;
    }
  }

  .new {
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: $tertiary;
    border-radius: 2px;
    color: #588378;
    padding: 5px;
    font-size: smaller;
    font-weight: bold;
    display: flex;
    width: 75px;
    justify-content: center;
  }

  .card_footer {
    display: flex;
    justify-content: space-between;
    height: 70px;
    .card_footer_text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 5px;
      padding-left: 15px;
    }
  }

  .card_footer_button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px 30px 10px;
    font-size: x-large;
    .fa-solid {
      background: -webkit-linear-gradient(90deg, $secondary, $primary);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      position: absolute;
      opacity: 0;
    }
    .fa-regular {
      position: relative;
    }
    &:hover {
      .fa-regular {
        transition: opacity 600ms;
        opacity: 0;
      }
      .fa-solid {
        transition: opacity 600ms;
        opacity: 1;
      }
    }
  }

  footer {
    width: calc(100% - 20px);
    background-color: #333;
    color: white;
    padding: 10px 0px 40px 20px;

    li {
      list-style: none;
      line-height: 25px;
    }
    .fa-utensils {
      padding-right: 10px;
    }
    .fa-handshake-angle {
      padding-right: 5px;
    }
  }
}
