$primary: #9356dc;
$secondary: #ff79da;
$tertiary: #99e2d0;

// MIXINS INDEX + BOUTON BICOLORE

@mixin card {
  width: 90%;
  border-radius: 20px;
  overflow: hidden;
  background-color: white;
  box-shadow: 5px 5px 5px rgb(229 229 229 / 89%);
}

@mixin btn {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 40%;
  width: auto;
  height: 50px;
  background: linear-gradient(180deg, $secondary, $primary);
  border: none;
  border-radius: 50px;
  padding: 0 20px;
}

@mixin funtionbtn {
  display: flex;
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgb(229 229 229 / 89%);
  width: 85%;
  position: relative;
  align-items: center;
  justify-content: center;
  height: 80px;
  background-color: #f7f7f7;
  &:hover {
    background-color: lighten($primary, 35%);
    .fa-mobile-screen-button {
      color: $primary;
    }
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide-down {
  from {
    transform: translateY(10px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

// MIXIN ICONE DU PLAT

@mixin hidden {
  position: absolute;
  height: 100%;
  width: 80px;
  background-color: green;
  display: flex;
  align-items: center;
  top: 0;
  justify-content: center;
  border-radius: 0 10px 10px 0px;
}

@mixin hidden_icon {
  height: 30px;
  width: 30px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
