@import "style/mixin.scss";

$dot: 3;
$anim-dur: 1500ms;
$anim-delay: $anim-dur/$dot;

.loader-container {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #f2f2f2;
  animation: fade-out 7000ms forwards;
}

.loader {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 50%;
  text-align: center;
  bottom: 50%;
}

.background {
  opacity: 0;
}
.loader_dot {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: inline-flex;
  &--1 {
    opacity: 0;
    background-color: $primary;
    animation: loader $anim-dur 3 ease-in-out;
  }
  &--2 {
    opacity: 0;
    background-color: $secondary;
    animation: loader $anim-dur 3 ease-in-out;
  }
  &--3 {
    opacity: 0;
    background-color: $tertiary;
    animation: loader $anim-dur 3 ease-in-out;
  }
  @for $i from 1 through $dot {
    &--#{$i} {
      animation-delay: $anim-delay * $i;
    }
  }
}
