body {
  margin: 0px;
  width: 100%;
}

div,
p {
  margin: 0;
}

@font-face {
  font-family: "raleway";
  src: url("Raleway-VariableFont_wght.ttf");
}

* {
  font-family: "raleway", Arial, Helvetica, sans-serif;
}

section {
  display: block;
}

a {
  color: black;
  text-decoration: none;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav-box-heb,
.nav-box-act {
  display: flex;
  align-items: center;
  padding: 40px;
  border-top: 2px solid transparent;
}

.nav-booky {
  padding: 40px 0px 20px 20px;
}

.nav-booky img {
  height: 50px;
}

.nav-booky img:hover {
  cursor: pointer;
}

.nav-box {
  display: flex;
}

.nav-box-heb:hover {
  border-top-color: #0065fc;
  color: #0065fc;
  cursor: pointer;
}

.nav-box-act:hover {
  border-top-color: #0065fc;
  color: #0065fc;
  cursor: pointer;
}

nav,
header,
.section1 {
  margin-left: 40px;
  margin-right: 40px;
}

header {
  padding-bottom: 40px;
}

.div_h1 {
  padding-bottom: 15px;
}

h1 {
  font-size: medium;
}

form {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  width: 300px;
  border-radius: 10px;
  position: relative;
  height: 40px;
}

label > i {
  background-color: #f2f2f2;
  width: 20px;
  height: 20px;
  padding: 10px;
  border-radius: 10px 0 0 10px;
}

label {
  text-align: center;
  position: absolute;
  cursor: pointer;
}

#destination {
  margin-left: 10px;
  border-style: none;
  border: 1px solid #f2f2f2;
  height: 40px;
  padding: 0 105px 0 40px;
  width: 100%;
  border-radius: 20px;
}

::placeholder {
  color: black;
  font-weight: bold;
  opacity: 1;
}

#destination:focus {
  outline: none;
}

#search {
  background-color: #0065fc;
  height: 40px;
  width: 100px;
  border-radius: 0 10px 10px 0;
  border-style: none;
  font-weight: 800;
  color: antiquewhite;
}

.search {
  background-color: #0065fc;
  height: 40px;
  border-radius: 0 10px 10px 0;
  display: flex;
  position: absolute;
  right: 0;
}

.search:hover {
  cursor: pointer;
}

.search > span {
  display: flex;
  align-items: center;
  padding: 0 10px 0 10px;
  color: antiquewhite;
  font-weight: bolder;
}

.search i {
  display: none;
}

.filtres {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.filtres > p {
  font-weight: 500;
}

.filtres > ul {
  display: flex;
  list-style: none;
  padding-left: 15px;
  gap: 10px;
}

.filtres > ul > li {
  display: flex;
  height: 40px;
  width: auto;
  align-items: center;
  font-weight: bold;
  position: relative;
}

.filtres > ul > li:hover {
  cursor: pointer;
}

.filtres > ul > li > i {
  display: flex;
  color: #0065fc;
  background-color: #deebff;
  border: 1px solid #deebff;
  width: 40px;
  height: 40px;
  border-radius: 20px 20px 20px 20px;
  align-items: center;
  justify-content: center;
  margin-left: 0px;
  position: absolute;
  left: 0;
}

.filtres > ul > li > p {
  padding: 0px 10px 0px 45px;
  margin-right: 5px;
  border: 1px solid lightgrey;
  border-radius: 20px;
  height: 40px;
  display: flex;
  align-items: center;
  transition: background-color 0.2s ease-in;
}

li:hover > p {
  background-color: #deebff;
  border-color: #deebff !important;
  transition: background-color 0.2s ease-out;
}

.info {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.info > i {
  display: flex;
  border: 1px solid #f2f2f2;
  color: #0065fc;
  width: 20px;
  height: 20px;
  border-radius: 20px 20px 20px 20px;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  margin-right: 10px;
}

section a:hover img {
  filter: grayscale(0);
  filter: grayscale(1);
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.section1 {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.heb,
.pop {
  background-color: #f2f2f2;
  border-radius: 20px;
  padding: 20px 40px 20px 40px;
}

.heb {
  width: 70%;
}

.pop {
  width: 30%;
}

.heb-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.heb-container-3cards {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  height: 50%;
}

.heb-container-card {
  width: 33.33%;
  background-color: white;
  box-shadow: 5px 5px 5px rgba(224, 222, 222, 0.89);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

.heb-container-card > a {
  display: flex;
  flex-direction: column;
  flex: auto;
}

.heb-container-card-img {
  padding: 5px;
  overflow: hidden;
}

.heb-container-card-img img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}

.heb-container-card-title > h3 {
  margin: 0;
}

.heb-container-card-text-stars {
  margin: 0px 10px 10px 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: space-between;
  flex: auto;
}

.heb-container-card-stars,
.pop-container-card-stars {
  color: #0065fc;
}

.empty {
  color: #f2f2f2;
}

.pop-title-topstar {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.pop-topstar {
  font-size: larger;
}

.pop-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.pop-container-card {
  display: flex;
  background-color: white;
  border-radius: 20px;
  width: 100%;
  height: 160px;
  box-shadow: 5px 5px 5px 5px rgba(224, 222, 222, 0.89);
  overflow: hidden;
  padding: 5px;
}

.pop-container-card > a {
  display: flex;
  flex-direction: row;
  flex: auto;
}

.pop-container-card img {
  width: 40%;
  height: 160px;
  object-fit: cover;
  overflow: hidden;
  border-radius: 20px 0 0 20px;
}

.pop-container-card-text-stars {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 5px 15px;
  width: 60%;
}

.pop-container-card-title > h3 {
  margin: 0;
}

.pop-container-card-text {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.pop-container-card-stars {
  white-space: nowrap;
}

.showmore {
  padding: 20px 0px 10px 0px;
}

.activities {
  padding: 40px;
}

.activities h3 {
  margin: auto 15px;
}

.activities-container {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.activities-container a {
  display: flex;
  flex-direction: column;
  flex: auto;
  height: 100%;
}

.activities-container-fullcard {
  width: 25%;
  border-radius: 20px;
  box-shadow: 5px 5px 5px 5px rgba(224, 222, 222, 0.89);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.activities-container-smallcards-container {
  width: 25%;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.smallcards-container-card1 {
  height: 60%;
  box-shadow: 5px 5px 5px 5px rgba(224, 222, 222, 0.89);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.smallcards-container-card2 {
  height: 40%;
  box-shadow: 5px 5px 5px 5px rgba(224, 222, 222, 0.89);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.smallcards-container-cards {
  height: 50%;
  box-shadow: 5px 5px 5px 5px rgba(224, 222, 222, 0.89);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.activities-container-fullcard-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.activities-container-fullcard-text,
.smallcards-container-card1-text,
.smallcards-container-card2-text,
.smallcards-container-cards-text {
  display: flex;
  min-height: 60px;
  align-content: center;
}

.activities-container-fullcard-img,
.smallcards-container-card1-img,
.smallcards-container-card2-img,
.smallcards-container-cards-img {
  height: 180px;
  flex: auto;
  overflow: hidden;
}

.smallcards-container-card1-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.smallcards-container-card2-img img {
  width: 100%;
  object-fit: cover;
  height: 100%;
  border-radius: 20px 20px 0 0;
}

.smallcards-container-cards-img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 20px 20px 0 0;
}

footer {
  background-color: #f2f2f2;
  display: flex;
  padding: 20px 40px;
}

footer > div {
  width: 30%;
}

footer > div > ul {
  padding-left: 0%;
}

footer > div > ul > li {
  list-style: none;
  line-height: 1.8;
  display: list-item;
  box-sizing: border-box;
}

@media screen and (max-width: 992px) {
  header > div {
    width: 100%;
  }

  header,
  nav,
  .section1 {
    margin-left: 0px;
    margin-right: 0px;
  }

  header {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
  }

  .nav-box {
    border-top: 0;
    width: 100%;
    justify-content: center;
  }

  .nav-box a {
    width: 50%;
  }

  .nav-box-heb,
  .nav-box-act {
    padding: 20px 40px 10px 40px;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid #f2f2f2;
    border-bottom: 2px solid transparent;
  }

  .nav-box-heb:hover {
    border-top: 0;
    border-bottom: 2px solid #0065fc;
  }

  .nav-box-act:hover {
    border-top: 0;
    border-bottom: 2px solid #0065fc;
  }

  .nav-box-heb:active {
    border-bottom: 2px solid #0065fc;
    color: #0065fc;
  }

  .nav-box-act:active {
    border-bottom: 2px solid #0065fc;
    color: #0065fc;
  }

  .div_h1 {
    padding-left: 15px;
    width: calc(100% - 15px);
  }

  form {
    padding-left: 15px;
    width: calc(80% - 15px);
  }

  .search > span {
    display: none;
  }

  .search i {
    display: block;
    display: flex;
    align-items: center;
    padding: 0 10px 0 10px;
    color: antiquewhite;
    font-weight: bolder;
  }

  .filtres {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    align-items: flex-start;
    padding-left: 15px;
    width: calc(100% - 15px);
  }

  .filtres > ul {
    flex-flow: row wrap;
    padding: 0;
  }

  .info {
    padding-left: 15px;
  }

  .section1 {
    flex-direction: column-reverse;
  }

  .heb {
    width: calc(100% - 80px);
    background-color: white;
  }

  .pop {
    width: calc(100% - 80px);
    border-radius: 0px;
  }

  .heb-container {
    display: flex;
    flex-direction: row;
  }

  .heb-container-3cards {
    display: flex;
    width: 50%;
    flex-direction: column;
  }

  .heb-container-card {
    width: 100%;
  }

  .activities {
    width: calc(100% - 80px);
  }

  .activities-container {
    flex-direction: column;
  }

  .activities-container img {
    height: 250px;
  }

  .activities-container-fullcard {
    width: 100%;
  }

  .activities-container-smallcards-container {
    width: 100%;
    display: flex;
    flex-direction: row;
  }

  .smallcards-container-card1,
  .smallcards-container-card2,
  .smallcards-container-cards {
    width: 50%;
  }

  footer {
    flex-direction: column;
    width: calc(100% - 80px);
  }

  footer > div {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  header > div {
    width: 100%;
  }

  header {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
  }

  .nav-box {
    border-top: 0;
    width: 100%;
    justify-content: center;
  }

  .nav-box-heb,
  .nav-box-act {
    border-bottom: 2px solid #f2f2f2;
    padding: 20px 40px 10px 40px;
    display: flex;
    justify-content: center;
  }

  .nav-box-heb:hover {
    border-top: 0;
    border-bottom: 2px solid #0065fc;
  }

  .nav-box-act:hover {
    border-top: 0;
    border-bottom: 2px solid #0065fc;
  }

  .nav-box-heb:active {
    border-bottom: 2px solid #0065fc;
    color: #0065fc;
  }

  .nav-box-act:active {
    border-bottom: 2px solid #0065fc;
    color: #0065fc;
  }

  .search > span {
    display: none;
  }

  .search i {
    display: block;
    display: flex;
    align-items: center;
    padding: 0 10px 0 10px;
    color: antiquewhite;
    font-weight: bolder;
  }

  .filtres {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    align-items: flex-start;
  }

  .filtres > ul {
    flex-flow: row wrap;
    padding: 0;
  }

  .section1 {
    flex-direction: column-reverse;
  }

  .heb {
    width: calc(100% - 80px);
    background-color: white;
  }

  .pop {
    width: calc(100% - 80px);
  }

  .heb-container {
    display: flex;
    flex-direction: column;
  }

  .heb-container-3cards {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .heb-container-card {
    width: 100%;
  }

  .activities {
    width: calc(100% - 80px);
  }

  .activities-container {
    flex-direction: column;
  }

  .activities-container img {
    height: 250px;
  }

  .activities-container-fullcard {
    width: 100%;
  }

  .activities-container-smallcards-container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .smallcards-container-card1,
  .smallcards-container-card2,
  .smallcards-container-cards {
    width: 100%;
  }

  footer {
    flex-direction: column;
    width: calc(100% - 80px);
  }

  footer > div {
    width: 100%;
  }
}
